.Dropdown {
  @apply ui-relative ui-inline-block ui-cursor-pointer;

  &:hover {
    ul {
      @apply ui-block ui-absolute ui-shadow-sm ui-opacity-100 ui-visible;
      top: 100%;
    }
  }
  ul {
    @apply ui-absolute ui-block ui-invisible ui-opacity-0 ui-border-t ui-border-l ui-border-r ui-right-0 ui-border-gray-200;
    top: 115%;
    transition: top 200ms, left 200ms;
  }

  a {
    @apply ui-block ui-text-sm ui-h-full ui-relative ui-py-2 ui-px-4 ui-no-underline ui-text-black ui-font-sans ui-border-b ui-border-gray-200;

    &:hover {
      @apply ui-bg-gray-100;
    }
  }
}
