.ProductListItem--InfoBox {
  @apply ui-absolute ui-w-full ui-h-full;
  transition: all .2s ease-in-out;
}

.ProductListItem--InfoBox:before {
  width: 1px;
  height: 0px;
}

.ProductListItem--InfoBox:after {
  width: 0px;
  height: 1px;
}

.ProductListItem--InfoBox:hover:before{height: calc(100% - 10px); opacity:1; top:0px;}

.ProductListItem--InfoBox:hover:after{width: calc(100% - 10px);	opacity:1;	left:0px;}

.ProductListItem--InfoBox:after, .ProductListItem--InfoBox:before {
  @apply ui-absolute ui-bg-white ui-opacity-0;
  content: "";
  left: 20px;
  top: 20px;
  transition: all 0.7s linear;
}