.NewsTeaserItem {
  @apply ui-w-full ui-h-full ui-relative ui-text-white ui-break-words;

  .NewsTeaserItem--Title  {
    @apply ui-text-white ui-font-bold ui-text-xl ui-uppercase;
  }

  .NewsTeaserItem--InfoBox {
    @apply ui-absolute ui-bottom-0 ui-left-0 ui--ml-4 ui-mb-4 ui-bg-black ui-h-32 ui-w-64 ui-p-5 ui-pl-10;
  }

  .NewsTeaserItem--Date {
    @apply ui-absolute ui-left-0 ui-top-0 ui-ml-1 ui-transform ui--rotate-90 ui-text-highlight ui-text-xs ui-w-32 ui-origin-top-left ui-text-center ui-mt-32 ui-font-bold ui-uppercase;
  }

  .NewsTeaserItem--Description {
    @apply ui-hidden;
  }

  .NewsTeaserItem--ReadMore {
    @apply ui-uppercase ui-text-xs ui-mt-4 ui-hidden;
    letter-spacing: 4px;
    &:hover {
      @apply ui-text-gray-500 ui-transform ui-transition-colors ui-duration-200;
    }
  }

  &:not(.is-latest) {
    .NewsTeaserItem--Title {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      height: 5.6rem;

      &:hover {
        @apply ui-text-gray-500 ui-transform ui-transition-colors ui-duration-200 ui-cursor-pointer;
      }
    }
  }

  &.is-latest {
    .NewsTeaserItem--Title {
      @apply ui-text-2xl ui-h-auto;
    }

    .NewsTeaserItem--ReadMore {
      @apply ui-block;
    }

    .NewsTeaserItem--Date {
      @apply ui--ml-10 ui-text-base;
    }

    .NewsTeaserItem--InfoBox {
      @apply ui-right-0 ui-top-0 ui-left-auto ui-bg-transparent ui-border-black ui-p-6 ui-pr-16;
      border-width: 15px;
      min-height: 400px;
      width: 400px;
    }

    .NewsTeaserItem--Description {
      @apply ui-block ui-text-xs;
    }
  }
}

@media (max-width: 1023px) {
  .NewsTeaserItem.is-latest {
    @apply ui-p-12 ui-py-16 ui-pr-4;
    .NewsTeaserItem--InfoBox {
      @apply ui-relative ui-m-0 w-auto;
    }

    .NewsTeaserItem--Date {
      @apply ui--ml-12;
    }
  }
}
