.HeaderSection {
    @apply w-full relative text-white;

    & .HeaderSection--BackgroundImage {
        @apply absolute top-0 left-0 h-full w-full;
    }

    & .HeaderSection--HeadlineWrapper {
        @apply border-white py-20 pl-8 w-48 relative mb-6 uppercase;
        border: 10px solid;
        border-right: 0;

        &:before, &:after {
            @apply absolute bg-white h-12;
            content: "";
            right: -10px;
            width: 10px;
        }

        &:before {
            top: -10px;
        }

        &:after {
            bottom: -10px;
        }

        & h2 {
            @apply block w-full text-lg;
            width: 640px;
        }
    }
}