.Button {
  @apply cursor-pointer uppercase inline-block;
}
.Button:focus, .Button:active {
  @apply outline-none;
}

.Button--variant--default {
  @apply bg-black px-5 py-2 text-sm text-white;
  letter-spacing: 5px;
}
.Button--variant--default:hover {
  @apply bg-gray-800;
}

.Button--variant--inverted {
  @apply border-gray-200 text-gray-200 border px-5 py-3 text-sm;
  font-weight: 500;
}
.Button--variant--inverted:hover {
  @apply bg-gray-200 text-gray-600;
}

.Button--variant--animated {
  @apply inline-block bg-black text-white px-8 py-5 relative;
}
.Button--variant--animated:before, .Button--variant--animated:after {
  @apply absolute bg-white w-0 opacity-20 transition-size duration-300;
  content: "";
  height: 50%;
}
.Button--variant--animated:hover:before, .Button--variant--animated:hover:after {
  @apply w-full;
}
.Button--variant--animated:before {
  @apply top-0 left-0;
}
.Button--variant--animated:after {
  @apply bottom-0 right-0;
}
.Button--variant--animated span {
  @apply text-xs block relative;
  padding-right: 30px;
  letter-spacing: 5px;
}
.Button--variant--animated em {
  @apply bg-white absolute transform scale-x-25 origin-right top-1/2 duration-300 transition-transform;
  right: 23px;
  height: 1px;
  width: 30px;
}
.Button--variant--animated:hover em {
  @apply scale-x-100;
}

.Button--variant--tag {
  @apply bg-gray-200 transition-colors duration-300 ease-linear px-3 py-2 text-xs font-semibold text-black;
}
.Button--variant--tag:hover {
  @apply bg-black text-white;
}

