.Button {
  @apply ui-cursor-pointer ui-uppercase ui-inline-block;
}
.Button:focus,
.Button:active {
  @apply ui-outline-none;
}

.Button--variant--default {
  @apply ui-bg-black ui-px-5 ui-py-2 ui-text-sm ui-text-white;
  letter-spacing: 5px;
}
.Button--variant--default:hover {
  @apply ui-bg-gray-800;
}

.Button--variant--inverted {
  @apply ui-border-gray-200 ui-text-gray-200 ui-border ui-px-5 ui-py-3 ui-text-sm ui-font-medium;
}
.Button--variant--inverted:hover {
  @apply ui-bg-gray-200 ui-text-gray-600;
}

.Button--variant--animated {
  @apply ui-inline-block ui-bg-black ui-text-white ui-px-8 ui-py-5 ui-relative;
}
.Button--variant--animated:before,
.Button--variant--animated:after {
  @apply ui-absolute ui-bg-white ui-w-0 ui-opacity-20 ui-transition-size ui-duration-300;
  content: "";
  height: 50%;
}
.Button--variant--animated:hover:before,
.Button--variant--animated:hover:after {
  @apply ui-w-full;
}
.Button--variant--animated:before {
  @apply ui-top-0 ui-left-0;
}
.Button--variant--animated:after {
  @apply ui-bottom-0 ui-right-0;
}
.Button--variant--animated span {
  @apply ui-text-xs ui-block ui-relative;
  padding-right: 30px;
  letter-spacing: 5px;
}
.Button--variant--animated em {
  @apply ui-bg-white ui-absolute ui-transform ui-scale-x-25 ui-origin-right ui-top-1/2 ui-duration-300 ui-transition-transform;
  right: 23px;
  height: 1px;
  width: 30px;
}
.Button--variant--animated:hover em {
  @apply ui-scale-x-100;
}

.Button--variant--tag {
  @apply ui-bg-gray-200 ui-transition-colors ui-duration-300 ui-ease-linear ui-px-3 ui-py-2 ui-text-xs ui-font-semibold ui-text-black;
}
.Button--variant--tag:hover {
  @apply ui-bg-black ui-text-white;
}

.Button--variant--tag-selected {
  @apply Button--variant--tag ui-bg-black ui-text-white;
}
.Button--variant--tag-selected:hover {
  @apply ui-bg-gray-700;
}
