.FullWidthSliderSection--Slide--animate-in {
  .FullWidthSliderSection--Media {
    @apply ease-out opacity-100;
  }

  .FullWidthSliderSection--Content,
  .FullWidthSliderSection--Description,
  .FullWidthSliderSection--CTA-Button {
    @apply ease-out translate-y-0;
  }

  .FullWidthSliderSection--Content {
    transform: translateZ(0);
    @apply delay-200;
  }

  .FullWidthSliderSection--Teaser {
    transform: translateZ(0);
    @apply delay-300;
  }

  .FullWidthSliderSection--CTA-Button {
    transform: translateZ(0);
    @apply delay-400;
  }
}

.FullWidthSliderSection--Slide--animate-out {
  .FullWidthImageSliderSection--Media {
    @apply ease-in opacity-0 delay-250;
  }

  .FullWidthSliderSection--Content {
    @apply ease-in delay-200 translate-y-full;
  }

  .FullWidthSliderSection--Teaser,
  .FullWidthSliderSection--CTA-Button {
    @apply ease-in translate-y-32;
  }

  .FullWidthSliderSection--Description {
    @apply ease-in delay-150;
  }
}
