.FSXANavigation--Navigation {
    @apply m-0 p-0 list-none w-full font-sans;
}

.FSXANavigation--Navigation > .FSXANavigation--Item {
    @apply inline-block relative;
}

.FSXANavigation--Link {
    @apply block text-sm uppercase h-full relative block py-10 px-4 no-underline text-black font-sans;
}

.FSXANavigation--Link.active {
    @apply text-gray-600;
}

/** second level navigation **/
.FSXANavigation--Navigation .FSXANavigation--Navigation {
    @apply absolute block invisible opacity-0 left-0 border-l border-r border-gray-200;
    top: 115%;
    transition: top 200ms, left 200ms;
}

.FSXANavigation--Item:hover > .FSXANavigation--Navigation {
    @apply block absolute shadow-sm opacity-100 visible;
    top: 100%;
}

.FSXANavigation--Navigation .FSXANavigation--Navigation .FSXANavigation--Link {
    @apply normal-case text-xs py-2 px-4 no-underline bg-white border-gray-200 border-b transition-colors duration-150;
    width: 200px;
}

.FSXANavigation--Navigation .FSXANavigation--Navigation .FSXANavigation--Link:hover {
    @apply bg-gray-100;
}

/** third level navigation **/
.FSXANavigation--Navigation .FSXANavigation--Navigation .FSXANavigation--Navigation {
    @apply block absolute right-0;
    left: 115%;
    top: 0;
}

.FSXANavigation--Navigation .FSXANavigation--Navigation .FSXANavigation--Item:hover > .FSXANavigation--Navigation {
    @apply block absolute shadow-sm opacity-100 visible;
    left: calc(100% + 1px);
    top: 0;
}

.FSXANavigation--Navigation .FSXANavigation--Navigation:last-child .FSXANavigation--Item > .FSXANavigation--Navigation {
    left: -115%;
}

.FSXANavigation--Navigation .FSXANavigation--Navigation:last-child .FSXANavigation--Item:hover > .FSXANavigation--Navigation {
    left: calc(-100% - 2px);
}