.Navigation--Navigation {
  @apply m-0 p-0 list-none w-full font-sans;
}

.Navigation--Navigation > .Navigation--Item {
  @apply inline-block relative;
}

.Navigation--Link {
  @apply block text-sm uppercase h-full relative py-10 px-4 no-underline text-black font-sans;
}

.Navigation--Link.active {
  @apply text-gray-600;
}

/** second level navigation **/
.Navigation--Navigation .Navigation--Navigation {
  @apply absolute block invisible opacity-0 left-0 border-l border-r border-gray-200;
  top: 115%;
  transition: top 200ms, left 200ms;
}

.Navigation--Item:hover > .Navigation--Navigation {
  @apply block absolute shadow-sm opacity-100 visible;
  top: 100%;
}

.Navigation--Navigation .Navigation--Navigation .Navigation--Link {
  @apply normal-case text-xs py-2 px-4 no-underline bg-white border-gray-200 border-b transition-colors duration-150;
  width: 200px;
}

.Navigation--Navigation .Navigation--Navigation .Navigation--Link:hover {
  @apply bg-gray-100;
}

/** third level navigation **/
.Navigation--Navigation .Navigation--Navigation .Navigation--Navigation {
  @apply block absolute right-0;
  left: 115%;
  top: 0;
}

.Navigation--Navigation
  .Navigation--Navigation
  .Navigation--Item:hover
  > .Navigation--Navigation {
  @apply block absolute shadow-sm opacity-100 visible;
  left: calc(100% + 1px);
  top: 0;
}

.Navigation--Navigation
  .Navigation--Navigation:last-child
  .Navigation--Item
  > .Navigation--Navigation {
  left: -115%;
}

.Navigation--Navigation
  .Navigation--Navigation:last-child
  .Navigation--Item:hover
  > .Navigation--Navigation {
  left: calc(-100% - 2px);
}

.Navigation--Mobile {
  height: 101px;
}
.Navigation--Content{
  display:none;
}
.Navigation--collapsed{
  display: block;
}
.Navigation--smallicon{
  display: none;
}
@media (max-width: 768px){
  .Navigation--Item:hover > .Navigation--Navigation {
    @apply relative w-full;
    height: 100%;
  }
  .Nav--Mobile{
    @apply pt-4 pb-4 text-xl;
  }
  .Navigation--Item{
    text-align: center;
    border-top: 1px solid #E9E9E9
  }
  :not(.active)+ ul{
    display:none;
  }
  .Navigation--Navigation .Navigation--Navigation .Navigation--Link
  {
    font-size:1.2rem;
    width:100%;
  }
  .Navigation--Navigation .Navigation--Navigation{
    border-left-width:0px;
    border-right-width:0px;
    border-top: 1px solid #E9E9E9;
  }
  .Navigation--smallicon{
    display: inline;
  }
  .Navigation--Navigation > .Navigation--Item{
    display:block;
  }
}

