ul.mainMenu li { 
  background-color: white;
  overflow: hidden;
  display: block;
}

ul.mainMenu > li:hover { 
    background-color: white;
}

ul.mainMenu > li > ul {
    background-color: transparent;
    position:relative;
    left:-100%;
    height:0px;
}

ul.mainMenu > li:hover > ul {
    display:block;
    left: 0px;
    height: auto;
    transition: left 1s;
}

/* border for all first level sub-menu entries */
ul.mainMenu > li > ul > li {
    border-bottom: grey 1px solid;
    border-left: grey 1px solid;
}