ul.mainMenu {
    list-style: none;
    text-transform: uppercase;
 }

ul.mainMenu > li { margin-right:1rem; }
ul.mainMenu > li:hover { background-color:lightpink; }

ul.mainMenu > li > ul {display:none}

ul.mainMenu > li:hover > ul {
    display:block;
    transition: top 200ms, left 200ms;
}

@media (min-width:1024px) {
    ul.mainMenu > li { 
        display: inline;
        float: left;
    }
    ul.mainMenu > li > a {
        background-color:lightblue;
        padding-right:3rem;
    }
}