@tailwind base;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css");
@import "./loader.min.css";

html,
body {
  @apply ui-h-full;
}

.scrollbar-fix-left {
  width: 100vw;
}

.scrollbar-fix-center {
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}

@tailwind components;
@tailwind utilities;
