@tailwind base;
@import "./Poppins_css2.css";
@import "./font_awesome_all.min.css";
@import "./loader.min.css";

html,
body {
  @apply ui-h-full;
}

.scrollbar-fix-left {
  width: 100vw;
}

.scrollbar-fix-center {
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}

@tailwind components;
@tailwind utilities;
