@tailwind base;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css");
@import "./loader.min.css";

html,
body {
  @apply h-full;
}

@tailwind components;
@tailwind utilities;
