.RichText.inline * {
  @apply inline;
}

.RichText:not(.inline) {
  @apply mb-6;

  p {
    @apply mb-3;
  }

  *:last-child {
    @apply mb-0;
  }
}

.RichText [data-fs-style="format.standard"] {
}
.RichText [data-fs-style="format.uppercase"] {
  @apply uppercase;
}
.RichText [data-fs-style="format.bold"] {
  @apply font-bold;
}
.RichText [data-fs-style="format.span_yellow_text"] {
  @apply text-highlight;
}
