.Accordion {
	@apply w-full; 
	@apply my-4;
}
.Accordion--Text-Box {
	height: 0px;
	overflow-y: hidden;
	transition: height 0.6s ease-out;
}
.Accordion--Header {
	@apply py-2;
	@apply px-2; 
	@apply w-full; 
	@apply cursor-pointer;
}
.Accordion--Header.Accordion--Dark {
	@apply bg-black; 
	@apply text-white;
}
.Accordion--Header.Accordion--Light {
    background-color: #f5f5f5;
    @apply text-black;
}
.Accordion .Accordion--Indicator {
	transition: all 0.4s linear;
	transform: rotate(0deg);
}
.Accordion.Accordion.Accordion--Open .Accordion--Indicator {
	transform: rotate(45deg);
}
